@charset "utf-8";


.wrapper{
    flex-direction: column;
}
/******************************************************
    .main
*******************************************************/
.main{
    height: 800px;
    background-color: rgb(255, 255, 255);
}
